Client/xml-resources/web-service-references/ticketingServices/wsdl/localhost_8080/Server/ticketingServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://services.ticketing.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.ticketing.com/">

<xs:element name="checkClaimStatus" type="tns:checkClaimStatus"/>

<xs:element name="checkClaimStatusResponse" type="tns:checkClaimStatusResponse"/>

<xs:element name="checkLoginAndGetUserId" type="tns:checkLoginAndGetUserId"/>

<xs:element name="checkLoginAndGetUserIdResponse" type="tns:checkLoginAndGetUserIdResponse"/>

<xs:element name="checkRegister" type="tns:checkRegister"/>

<xs:element name="checkRegisterResponse" type="tns:checkRegisterResponse"/>

<xs:element name="fetchEventDate" type="tns:fetchEventDate"/>

<xs:element name="fetchEventDateResponse" type="tns:fetchEventDateResponse"/>

<xs:element name="fetchEventName" type="tns:fetchEventName"/>

<xs:element name="fetchEventNameResponse" type="tns:fetchEventNameResponse"/>

<xs:element name="fetchParkingLotName" type="tns:fetchParkingLotName"/>

<xs:element name="fetchParkingLotNameResponse" type="tns:fetchParkingLotNameResponse"/>

<xs:element name="fetchParkingSlot" type="tns:fetchParkingSlot"/>

<xs:element name="fetchParkingSlotResponse" type="tns:fetchParkingSlotResponse"/>

<xs:element name="fetchPoliceNumber" type="tns:fetchPoliceNumber"/>

<xs:element name="fetchPoliceNumberResponse" type="tns:fetchPoliceNumberResponse"/>

<xs:element name="fetchReservationDate" type="tns:fetchReservationDate"/>

<xs:element name="fetchReservationDateResponse" type="tns:fetchReservationDateResponse"/>

<xs:element name="getEventDetails" type="tns:getEventDetails"/>

<xs:element name="getEventDetailsResponse" type="tns:getEventDetailsResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="insertAccRegist" type="tns:insertAccRegist"/>

<xs:element name="insertHistoryLogin" type="tns:insertHistoryLogin"/>

<xs:element name="insertTicket" type="tns:insertTicket"/>

<xs:element name="selectAllEvents" type="tns:selectAllEvents"/>

<xs:element name="selectAllEventsResponse" type="tns:selectAllEventsResponse"/>

<xs:element name="selectAllEventsType" type="tns:selectAllEventsType"/>

<xs:element name="selectAllEventsTypeResponse" type="tns:selectAllEventsTypeResponse"/>

<xs:element name="selectAllReservationPemesanan" type="tns:selectAllReservationPemesanan"/>

<xs:element name="selectAllReservationPemesananResponse" type="tns:selectAllReservationPemesananResponse"/>

<xs:element name="selectAllReservationsConfirm" type="tns:selectAllReservationsConfirm"/>

<xs:element name="selectAllReservationsConfirmResponse" type="tns:selectAllReservationsConfirmResponse"/>

<xs:element name="selectAllReservationsType" type="tns:selectAllReservationsType"/>

<xs:element name="selectAllReservationsTypeResponse" type="tns:selectAllReservationsTypeResponse"/>

<xs:element name="selectAllTicketUser" type="tns:selectAllTicketUser"/>

<xs:element name="selectAllTicketUserResponse" type="tns:selectAllTicketUserResponse"/>

<xs:element name="selectAllUserTicketID" type="tns:selectAllUserTicketID"/>

<xs:element name="selectAllUserTicketIDResponse" type="tns:selectAllUserTicketIDResponse"/>

<xs:element name="updateAvailableTickets" type="tns:updateAvailableTickets"/>

<xs:element name="updateBookingReservation" type="tns:updateBookingReservation"/>

<xs:element name="updateCheckOutReservation" type="tns:updateCheckOutReservation"/>

<xs:element name="updateClaimStatus" type="tns:updateClaimStatus"/>

<xs:element name="updateParking" type="tns:updateParking"/>

<xs:element name="userIdForCheckOut" type="tns:userIdForCheckOut"/>

<xs:element name="userIdForCheckOutResponse" type="tns:userIdForCheckOutResponse"/>

<xs:element name="userIdForClaimTicket" type="tns:userIdForClaimTicket"/>

<xs:element name="userIdForClaimTicketResponse" type="tns:userIdForClaimTicketResponse"/>

<xs:complexType name="fetchPoliceNumber">
<xs:sequence>
<xs:element name="reservationID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchPoliceNumberResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAvailableTickets">
<xs:sequence>
<xs:element name="ticketTypeID" type="xs:int"/>
<xs:element name="ticketsReserved" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selectAllReservationsType">
<xs:sequence>
<xs:element name="ParkingLotID" type="xs:int"/>
<xs:element name="ReservationDate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selectAllReservationsTypeResponse">
<xs:sequence>
<xs:element name="return" type="tns:parkingReservations" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="parkingReservations">
<xs:complexContent>
<xs:extension base="tns:myModel">
<xs:sequence>
<xs:element name="hargaParking" type="xs:int"/>
<xs:element name="isAvailable" type="xs:boolean" minOccurs="0"/>
<xs:element name="parkingLotID" type="xs:int"/>
<xs:element name="parkingLotName" type="xs:string" minOccurs="0"/>
<xs:element name="parkingSlot" type="xs:string" minOccurs="0"/>
<xs:element name="parkingType" type="xs:string" minOccurs="0"/>
<xs:element name="policeNumber" type="xs:string" minOccurs="0"/>
<xs:element name="reservationDate" type="xs:string" minOccurs="0"/>
<xs:element name="reservationID" type="xs:int"/>
<xs:element name="userID" type="xs:int"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="myModel" abstract="true">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="selectAllTicketUser">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selectAllTicketUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:tickets" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tickets">
<xs:complexContent>
<xs:extension base="tns:myModel">
<xs:sequence>
<xs:element name="eventID" type="xs:int"/>
<xs:element name="eventName" type="xs:string" minOccurs="0"/>
<xs:element name="hargaTotal" type="xs:int"/>
<xs:element name="isClaimed" type="xs:boolean" minOccurs="0"/>
<xs:element name="jumlahTiket" type="xs:int"/>
<xs:element name="reservationDate" type="xs:string" minOccurs="0"/>
<xs:element name="ticketID" type="xs:int"/>
<xs:element name="ticketType" type="xs:string" minOccurs="0"/>
<xs:element name="ticketTypeID" type="xs:int"/>
<xs:element name="userID" type="xs:int"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="fetchReservationDate">
<xs:sequence>
<xs:element name="ReservationDate" type="xs:string" minOccurs="0"/>
<xs:element name="ParkingLotID" type="xs:int"/>
<xs:element name="ParkingSlot" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchReservationDateResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selectAllEvents">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="selectAllEventsResponse">
<xs:sequence>
<xs:element name="return" type="tns:events" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="events">
<xs:complexContent>
<xs:extension base="tns:myModel">
<xs:sequence>
<xs:element name="availableTickets" type="xs:int"/>
<xs:element name="eventDate" type="xs:string" minOccurs="0"/>
<xs:element name="eventDetails" type="xs:string" minOccurs="0"/>
<xs:element name="eventID" type="xs:int"/>
<xs:element name="eventImage" type="xs:string" minOccurs="0"/>
<xs:element name="eventLocation" type="xs:string" minOccurs="0"/>
<xs:element name="eventName" type="xs:string" minOccurs="0"/>
<xs:element name="hargaTikets" type="xs:int"/>
<xs:element name="ticketType" type="xs:string" minOccurs="0"/>
<xs:element name="totalQuota" type="xs:int"/>
<xs:element name="typeTicketID" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="fetchEventDate">
<xs:sequence>
<xs:element name="ticketID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchEventDateResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selectAllUserTicketID">
<xs:sequence>
<xs:element name="userID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selectAllUserTicketIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateParking">
<xs:sequence>
<xs:element name="UserID" type="xs:int"/>
<xs:element name="ReservationDate" type="xs:string" minOccurs="0"/>
<xs:element name="NumberPolice" type="xs:string" minOccurs="0"/>
<xs:element name="ReservationID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertTicket">
<xs:sequence>
<xs:element name="ticketID" type="xs:int"/>
<xs:element name="userID" type="xs:int"/>
<xs:element name="eventID" type="xs:int"/>
<xs:element name="ticketTypeID" type="xs:int"/>
<xs:element name="jumlahTiket" type="xs:int"/>
<xs:element name="hargaTotal" type="xs:int"/>
<xs:element name="isClaimed" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchParkingSlot">
<xs:sequence>
<xs:element name="reservationID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchParkingSlotResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userIdForCheckOut">
<xs:sequence>
<xs:element name="ReservationID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userIdForCheckOutResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchParkingLotName">
<xs:sequence>
<xs:element name="reservationID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchParkingLotNameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCheckOutReservation">
<xs:sequence>
<xs:element name="ReservationID" type="xs:int"/>
<xs:element name="UserID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selectAllEventsType">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selectAllEventsTypeResponse">
<xs:sequence>
<xs:element name="return" type="tns:events" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selectAllReservationsConfirm">
<xs:sequence>
<xs:element name="ReservationDate" type="xs:string" minOccurs="0"/>
<xs:element name="ParkingLotID" type="xs:int"/>
<xs:element name="ParkingSlot" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selectAllReservationsConfirmResponse">
<xs:sequence>
<xs:element name="return" type="tns:parkingReservations" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkClaimStatus">
<xs:sequence>
<xs:element name="ticketID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkClaimStatusResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkLoginAndGetUserId">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkLoginAndGetUserIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchEventName">
<xs:sequence>
<xs:element name="ticketID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fetchEventNameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userIdForClaimTicket">
<xs:sequence>
<xs:element name="ticketID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userIdForClaimTicketResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkRegister">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkRegisterResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBookingReservation">
<xs:sequence>
<xs:element name="UserID" type="xs:int"/>
<xs:element name="ReservationDate" type="xs:string" minOccurs="0"/>
<xs:element name="NumberPolice" type="xs:string" minOccurs="0"/>
<xs:element name="ReservationID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateClaimStatus">
<xs:sequence>
<xs:element name="ticketID" type="xs:int"/>
<xs:element name="userID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertHistoryLogin">
<xs:sequence>
<xs:element name="userID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertAccRegist">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="fullname" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="dateOfBirth" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selectAllReservationPemesanan">
<xs:sequence>
<xs:element name="UserID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selectAllReservationPemesananResponse">
<xs:sequence>
<xs:element name="return" type="tns:parkingReservations" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEventDetails">
<xs:sequence>
<xs:element name="eventId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEventDetailsResponse">
<xs:sequence>
<xs:element name="return" type="tns:events" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>