Client/xml-resources/web-service-references/ticketingServices/wsdl/localhost_8080/Server/ticketingServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://services.ticketing.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.ticketing.com/">

<xs:element name="checkLoginAndGetUserId" type="tns:checkLoginAndGetUserId"/>

<xs:element name="checkLoginAndGetUserIdResponse" type="tns:checkLoginAndGetUserIdResponse"/>

<xs:element name="checkRegister" type="tns:checkRegister"/>

<xs:element name="checkRegisterResponse" type="tns:checkRegisterResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="insertAccRegist" type="tns:insertAccRegist"/>

<xs:element name="insertTicket" type="tns:insertTicket"/>

<xs:element name="selectAllEvents" type="tns:selectAllEvents"/>

<xs:element name="selectAllEventsResponse" type="tns:selectAllEventsResponse"/>

<xs:element name="selectAllEventsType" type="tns:selectAllEventsType"/>

<xs:element name="selectAllEventsTypeResponse" type="tns:selectAllEventsTypeResponse"/>

<xs:complexType name="checkLoginAndGetUserId">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkLoginAndGetUserIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertAccRegist">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="fullname" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="dateOfBirth" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selectAllEventsType">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selectAllEventsTypeResponse">
<xs:sequence>
<xs:element name="return" type="tns:events" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="events">
<xs:complexContent>
<xs:extension base="tns:myModel">
<xs:sequence>
<xs:element name="availableTickets" type="xs:int"/>
<xs:element name="eventDate" type="xs:string" minOccurs="0"/>
<xs:element name="eventID" type="xs:int"/>
<xs:element name="eventLocation" type="xs:string" minOccurs="0"/>
<xs:element name="eventName" type="xs:string" minOccurs="0"/>
<xs:element name="hargaTikets" type="xs:int"/>
<xs:element name="ticketType" type="xs:string" minOccurs="0"/>
<xs:element name="totalQuota" type="xs:int"/>
<xs:element name="typeTicketID" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="myModel" abstract="true">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="selectAllEvents">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="selectAllEventsResponse">
<xs:sequence>
<xs:element name="return" type="tns:events" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertTicket">
<xs:sequence>
<xs:element name="ticketID" type="xs:int"/>
<xs:element name="userID" type="xs:int"/>
<xs:element name="eventID" type="xs:int"/>
<xs:element name="ticketTypeID" type="xs:int"/>
<xs:element name="hargaTotal" type="xs:int"/>
<xs:element name="isClaimed" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkRegister">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkRegisterResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>