Client/src/META-INF/wsdl/localhost_8080/Server/ticketingServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ticketing.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ticketing.com/" name="ticketingServices">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ticketing.com/" schemaLocation="http://localhost:8080/Server/ticketingServices?xsd=1"/>
</xsd:schema>
</types>
<message name="checkLogin">
<part name="parameters" element="tns:checkLogin"/>
</message>
<message name="checkLoginResponse">
<part name="parameters" element="tns:checkLoginResponse"/>
</message>
<message name="checkRegister">
<part name="parameters" element="tns:checkRegister"/>
</message>
<message name="checkRegisterResponse">
<part name="parameters" element="tns:checkRegisterResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="insertDataRegister">
<part name="parameters" element="tns:insertDataRegister"/>
</message>
<portType name="ticketingServices">
<operation name="checkLogin">
<input wsam:Action="http://services.ticketing.com/ticketingServices/checkLoginRequest" message="tns:checkLogin"/>
<output wsam:Action="http://services.ticketing.com/ticketingServices/checkLoginResponse" message="tns:checkLoginResponse"/>
</operation>
<operation name="checkRegister">
<input wsam:Action="http://services.ticketing.com/ticketingServices/checkRegisterRequest" message="tns:checkRegister"/>
<output wsam:Action="http://services.ticketing.com/ticketingServices/checkRegisterResponse" message="tns:checkRegisterResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://services.ticketing.com/ticketingServices/helloRequest" message="tns:hello"/>
<output wsam:Action="http://services.ticketing.com/ticketingServices/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="insertDataRegister">
<input wsam:Action="http://services.ticketing.com/ticketingServices/insertDataRegister" message="tns:insertDataRegister"/>
</operation>
</portType>
<binding name="ticketingServicesPortBinding" type="tns:ticketingServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="checkLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkRegister">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertDataRegister">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="ticketingServices">
<port name="ticketingServicesPort" binding="tns:ticketingServicesPortBinding">
<soap:address location="http://localhost:8080/Server/ticketingServices"/>
</port>
</service>
</definitions>