Client/src/META-INF/wsdl/localhost_8080/Server/ticketingServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ticketing.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.ticketing.com/" name="ticketingServices">
<types>
<xsd:schema>
<xsd:import namespace="http://services.ticketing.com/" schemaLocation="http://localhost:8080/Server/ticketingServices?xsd=1"/>
</xsd:schema>
</types>
<message name="checkRegister">
<part name="parameters" element="tns:checkRegister"/>
</message>
<message name="checkRegisterResponse">
<part name="parameters" element="tns:checkRegisterResponse"/>
</message>
<message name="selectAllEvents">
<part name="parameters" element="tns:selectAllEvents"/>
</message>
<message name="selectAllEventsResponse">
<part name="parameters" element="tns:selectAllEventsResponse"/>
</message>
<message name="insertTicket">
<part name="parameters" element="tns:insertTicket"/>
</message>
<message name="getEventDetails">
<part name="parameters" element="tns:getEventDetails"/>
</message>
<message name="getEventDetailsResponse">
<part name="parameters" element="tns:getEventDetailsResponse"/>
</message>
<message name="fetchEventName">
<part name="parameters" element="tns:fetchEventName"/>
</message>
<message name="fetchEventNameResponse">
<part name="parameters" element="tns:fetchEventNameResponse"/>
</message>
<message name="checkClaimStatus">
<part name="parameters" element="tns:checkClaimStatus"/>
</message>
<message name="checkClaimStatusResponse">
<part name="parameters" element="tns:checkClaimStatusResponse"/>
</message>
<message name="insertAccRegist">
<part name="parameters" element="tns:insertAccRegist"/>
</message>
<message name="fetchEventDate">
<part name="parameters" element="tns:fetchEventDate"/>
</message>
<message name="fetchEventDateResponse">
<part name="parameters" element="tns:fetchEventDateResponse"/>
</message>
<message name="updateParking">
<part name="parameters" element="tns:updateParking"/>
</message>
<message name="updateClaimStatus">
<part name="parameters" element="tns:updateClaimStatus"/>
</message>
<message name="checkLoginAndGetUserId">
<part name="parameters" element="tns:checkLoginAndGetUserId"/>
</message>
<message name="checkLoginAndGetUserIdResponse">
<part name="parameters" element="tns:checkLoginAndGetUserIdResponse"/>
</message>
<message name="userIdForCheckOut">
<part name="parameters" element="tns:userIdForCheckOut"/>
</message>
<message name="userIdForCheckOutResponse">
<part name="parameters" element="tns:userIdForCheckOutResponse"/>
</message>
<message name="fetchReservationDate">
<part name="parameters" element="tns:fetchReservationDate"/>
</message>
<message name="fetchReservationDateResponse">
<part name="parameters" element="tns:fetchReservationDateResponse"/>
</message>
<message name="updateCheckOutReservation">
<part name="parameters" element="tns:updateCheckOutReservation"/>
</message>
<message name="selectAllEventsType">
<part name="parameters" element="tns:selectAllEventsType"/>
</message>
<message name="selectAllEventsTypeResponse">
<part name="parameters" element="tns:selectAllEventsTypeResponse"/>
</message>
<message name="selectAllReservationPemesanan">
<part name="parameters" element="tns:selectAllReservationPemesanan"/>
</message>
<message name="selectAllReservationPemesananResponse">
<part name="parameters" element="tns:selectAllReservationPemesananResponse"/>
</message>
<message name="insertHistoryLogin">
<part name="parameters" element="tns:insertHistoryLogin"/>
</message>
<message name="userIdForClaimTicket">
<part name="parameters" element="tns:userIdForClaimTicket"/>
</message>
<message name="userIdForClaimTicketResponse">
<part name="parameters" element="tns:userIdForClaimTicketResponse"/>
</message>
<message name="selectAllReservationsConfirm">
<part name="parameters" element="tns:selectAllReservationsConfirm"/>
</message>
<message name="selectAllReservationsConfirmResponse">
<part name="parameters" element="tns:selectAllReservationsConfirmResponse"/>
</message>
<message name="updateBookingReservation">
<part name="parameters" element="tns:updateBookingReservation"/>
</message>
<message name="updateAvailableTickets">
<part name="parameters" element="tns:updateAvailableTickets"/>
</message>
<message name="selectAllUserTicketID">
<part name="parameters" element="tns:selectAllUserTicketID"/>
</message>
<message name="selectAllUserTicketIDResponse">
<part name="parameters" element="tns:selectAllUserTicketIDResponse"/>
</message>
<message name="selectAllTicketUser">
<part name="parameters" element="tns:selectAllTicketUser"/>
</message>
<message name="selectAllTicketUserResponse">
<part name="parameters" element="tns:selectAllTicketUserResponse"/>
</message>
<message name="selectAllReservationsType">
<part name="parameters" element="tns:selectAllReservationsType"/>
</message>
<message name="selectAllReservationsTypeResponse">
<part name="parameters" element="tns:selectAllReservationsTypeResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="ticketingServices">
<operation name="checkRegister">
<input wsam:Action="http://services.ticketing.com/ticketingServices/checkRegisterRequest" message="tns:checkRegister"/>
<output wsam:Action="http://services.ticketing.com/ticketingServices/checkRegisterResponse" message="tns:checkRegisterResponse"/>
</operation>
<operation name="selectAllEvents">
<input wsam:Action="http://services.ticketing.com/ticketingServices/selectAllEventsRequest" message="tns:selectAllEvents"/>
<output wsam:Action="http://services.ticketing.com/ticketingServices/selectAllEventsResponse" message="tns:selectAllEventsResponse"/>
</operation>
<operation name="insertTicket">
<input wsam:Action="http://services.ticketing.com/ticketingServices/insertTicket" message="tns:insertTicket"/>
</operation>
<operation name="getEventDetails">
<input wsam:Action="http://services.ticketing.com/ticketingServices/getEventDetailsRequest" message="tns:getEventDetails"/>
<output wsam:Action="http://services.ticketing.com/ticketingServices/getEventDetailsResponse" message="tns:getEventDetailsResponse"/>
</operation>
<operation name="fetchEventName">
<input wsam:Action="http://services.ticketing.com/ticketingServices/fetchEventNameRequest" message="tns:fetchEventName"/>
<output wsam:Action="http://services.ticketing.com/ticketingServices/fetchEventNameResponse" message="tns:fetchEventNameResponse"/>
</operation>
<operation name="checkClaimStatus">
<input wsam:Action="http://services.ticketing.com/ticketingServices/checkClaimStatusRequest" message="tns:checkClaimStatus"/>
<output wsam:Action="http://services.ticketing.com/ticketingServices/checkClaimStatusResponse" message="tns:checkClaimStatusResponse"/>
</operation>
<operation name="insertAccRegist">
<input wsam:Action="http://services.ticketing.com/ticketingServices/insertAccRegist" message="tns:insertAccRegist"/>
</operation>
<operation name="fetchEventDate">
<input wsam:Action="http://services.ticketing.com/ticketingServices/fetchEventDateRequest" message="tns:fetchEventDate"/>
<output wsam:Action="http://services.ticketing.com/ticketingServices/fetchEventDateResponse" message="tns:fetchEventDateResponse"/>
</operation>
<operation name="updateParking">
<input wsam:Action="http://services.ticketing.com/ticketingServices/updateParking" message="tns:updateParking"/>
</operation>
<operation name="updateClaimStatus">
<input wsam:Action="http://services.ticketing.com/ticketingServices/updateClaimStatus" message="tns:updateClaimStatus"/>
</operation>
<operation name="checkLoginAndGetUserId">
<input wsam:Action="http://services.ticketing.com/ticketingServices/checkLoginAndGetUserIdRequest" message="tns:checkLoginAndGetUserId"/>
<output wsam:Action="http://services.ticketing.com/ticketingServices/checkLoginAndGetUserIdResponse" message="tns:checkLoginAndGetUserIdResponse"/>
</operation>
<operation name="userIdForCheckOut">
<input wsam:Action="http://services.ticketing.com/ticketingServices/userIdForCheckOutRequest" message="tns:userIdForCheckOut"/>
<output wsam:Action="http://services.ticketing.com/ticketingServices/userIdForCheckOutResponse" message="tns:userIdForCheckOutResponse"/>
</operation>
<operation name="fetchReservationDate">
<input wsam:Action="http://services.ticketing.com/ticketingServices/fetchReservationDateRequest" message="tns:fetchReservationDate"/>
<output wsam:Action="http://services.ticketing.com/ticketingServices/fetchReservationDateResponse" message="tns:fetchReservationDateResponse"/>
</operation>
<operation name="updateCheckOutReservation">
<input wsam:Action="http://services.ticketing.com/ticketingServices/updateCheckOutReservation" message="tns:updateCheckOutReservation"/>
</operation>
<operation name="selectAllEventsType">
<input wsam:Action="http://services.ticketing.com/ticketingServices/selectAllEventsTypeRequest" message="tns:selectAllEventsType"/>
<output wsam:Action="http://services.ticketing.com/ticketingServices/selectAllEventsTypeResponse" message="tns:selectAllEventsTypeResponse"/>
</operation>
<operation name="selectAllReservationPemesanan">
<input wsam:Action="http://services.ticketing.com/ticketingServices/selectAllReservationPemesananRequest" message="tns:selectAllReservationPemesanan"/>
<output wsam:Action="http://services.ticketing.com/ticketingServices/selectAllReservationPemesananResponse" message="tns:selectAllReservationPemesananResponse"/>
</operation>
<operation name="insertHistoryLogin">
<input wsam:Action="http://services.ticketing.com/ticketingServices/insertHistoryLogin" message="tns:insertHistoryLogin"/>
</operation>
<operation name="userIdForClaimTicket">
<input wsam:Action="http://services.ticketing.com/ticketingServices/userIdForClaimTicketRequest" message="tns:userIdForClaimTicket"/>
<output wsam:Action="http://services.ticketing.com/ticketingServices/userIdForClaimTicketResponse" message="tns:userIdForClaimTicketResponse"/>
</operation>
<operation name="selectAllReservationsConfirm">
<input wsam:Action="http://services.ticketing.com/ticketingServices/selectAllReservationsConfirmRequest" message="tns:selectAllReservationsConfirm"/>
<output wsam:Action="http://services.ticketing.com/ticketingServices/selectAllReservationsConfirmResponse" message="tns:selectAllReservationsConfirmResponse"/>
</operation>
<operation name="updateBookingReservation">
<input wsam:Action="http://services.ticketing.com/ticketingServices/updateBookingReservation" message="tns:updateBookingReservation"/>
</operation>
<operation name="updateAvailableTickets">
<input wsam:Action="http://services.ticketing.com/ticketingServices/updateAvailableTickets" message="tns:updateAvailableTickets"/>
</operation>
<operation name="selectAllUserTicketID">
<input wsam:Action="http://services.ticketing.com/ticketingServices/selectAllUserTicketIDRequest" message="tns:selectAllUserTicketID"/>
<output wsam:Action="http://services.ticketing.com/ticketingServices/selectAllUserTicketIDResponse" message="tns:selectAllUserTicketIDResponse"/>
</operation>
<operation name="selectAllTicketUser">
<input wsam:Action="http://services.ticketing.com/ticketingServices/selectAllTicketUserRequest" message="tns:selectAllTicketUser"/>
<output wsam:Action="http://services.ticketing.com/ticketingServices/selectAllTicketUserResponse" message="tns:selectAllTicketUserResponse"/>
</operation>
<operation name="selectAllReservationsType">
<input wsam:Action="http://services.ticketing.com/ticketingServices/selectAllReservationsTypeRequest" message="tns:selectAllReservationsType"/>
<output wsam:Action="http://services.ticketing.com/ticketingServices/selectAllReservationsTypeResponse" message="tns:selectAllReservationsTypeResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://services.ticketing.com/ticketingServices/helloRequest" message="tns:hello"/>
<output wsam:Action="http://services.ticketing.com/ticketingServices/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="ticketingServicesPortBinding" type="tns:ticketingServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="checkRegister">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selectAllEvents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertTicket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getEventDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fetchEventName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkClaimStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertAccRegist">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="fetchEventDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateParking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="updateClaimStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="checkLoginAndGetUserId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="userIdForCheckOut">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fetchReservationDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCheckOutReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="selectAllEventsType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selectAllReservationPemesanan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertHistoryLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="userIdForClaimTicket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selectAllReservationsConfirm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateBookingReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="updateAvailableTickets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="selectAllUserTicketID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selectAllTicketUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selectAllReservationsType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ticketingServices">
<port name="ticketingServicesPort" binding="tns:ticketingServicesPortBinding">
<soap:address location="http://localhost:8080/Server/ticketingServices"/>
</port>
</service>
</definitions>